GAMEVAULT_ADMIN_PASSWORD=BITTE_LANGES_KENNWORT_EINTRAGEN
GAMEVAULT_AGENT_TOKEN=BITTE_ZUFAELLIGEN_AGENT_TOKEN_EINTRAGEN
GAMEVAULT_SECRET_KEY=BITTE_ZUFAELLIGEN_SESSION_KEY_EINTRAGEN
MISSION_CONTROL_SERVER_NAME=TrueTitan
MISSION_CONTROL_LIBRARY_NAME=TrueTitan Game Archive
